[include]
	path = ~/.gitconfig.local
[color]
	ui = auto
[alias]
	b = branch
	bd = !git branch -d $(git branch --format='%(refname:short)' --no-column | fzf)
	can = commit --amend --no-edit --no-verify
	ci = commit --verbose
	cp = cherry-pick -x
	d = diff --patience
	ds = diff --staged --patience
	f = fetch
	g = grep
	gi = grep -I
	l = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'
	n = "!git add --all . && git commit --no-verify --message \"WIP: $(date --iso-8601='seconds')\""
	p = !git stash --include-untracked && git pull && git stash pop
	r = restore
	sc = switch -c
	sd = switch develop
	sm = !git switch main 2> /dev/null || git switch master
	st = status --short --branch
	sw = !git switch $(git branch --format='%(refname:short)' --no-column | fzf)
	sw- = switch -
[core]
	fscache = true
	pager = less -r
	precomposeunicode = true
	preloadindex = true
	quotepath = false
	whitespace = trailing-space,space-before-tab
	commentChar = ";"
[pager]
	status = true
[push]
	default = simple
[merge]
	ff = false
[pull]
	rebase = true
[fetch]
	prune = true
[hub]
	protocol = https
[diff "xlsx"]
	binary = true
	textconv = $GOPATH/bin/git-xlsx-textconv
[diff "exif"]
	textconv = exiftool
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[gpg]
	program = gpg
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
	autoUpdate = true
[column]
	ui = auto
[branch]
	sort = -committerdate
