[include]
	path = ~/.gitconfig.local
[color]
	ui = auto
[alias]
	b = branch
	bd = !git branch -d $(git branch --format='%(refname:short)' --no-column | fzf)
	can = commit --amend --no-edit --no-verify
	ci = commit --verbose
	cp = cherry-pick -x
	d = diff --patience
	ds = diff --staged --patience
	exclude-untracked = !git ls-files --others --exclude-standard >> \"$(git rev-parse --git-dir)/info/exclude\"
	f = fetch
	g = grep
	gi = grep -I
	l = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'
	n = "!git add --all . && git commit --no-verify --message \"WIP: $(date --iso-8601='seconds')\""
	p = "!f() { git fetch origin && b=$(git symbolic-ref refs/remotes/origin/HEAD 2>/dev/null | sed \"s@^refs/remotes/origin/@@\") && [ -n \"$b\" ] || { echo \"origin/HEAD not set\"; exit 1; }; stashed=0; git stash --include-untracked | grep -q \"Saved working directory\" && stashed=1; git pull origin \"$b\" && { [ \"$stashed\" = \"1\" ] && git stash pop || true; }; }; f"
	r = restore
	sc = switch -c
	sd = "!f() { b=$(git symbolic-ref refs/remotes/origin/HEAD 2>/dev/null | sed 's@^refs/remotes/origin/@@'); [ -n \"$b\" ] && git switch \"$b\" || git switch main 2>/dev/null || git switch master; }; f"
	st = status --short --branch
	sw = !git switch $(git branch --format='%(refname:short)' --no-column | fzf)
	sw- = switch -
[core]
	fscache = true
	pager = less -r
	precomposeunicode = true
	preloadindex = true
	quotepath = false
	whitespace = trailing-space,space-before-tab
	commentChar = ";"
[pager]
	status = true
[push]
	default = simple
[merge]
	ff = false
[pull]
	rebase = true
[fetch]
	prune = true
[hub]
	protocol = https
[credential]
	helper = osxkeychain
[gpg]
	program = gpg
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
	autoUpdate = true
[column]
	ui = auto
[branch]
	sort = -committerdate
