[include]
	path = ~/.gitconfig.local
[color]
	ui = auto
[alias]
	b = branch
	bd = branch -d
	can = commit --amend --no-edit
	ci = commit --verbose
	co = checkout
	coo = checkout --ours
	cot = checkout --theirs
	co- = checkout -
	cm = checkout master
	cb = checkout -b
	cp = cherry-pick
	d = diff --patience
	ds = diff --staged --patience
	g = grep
	gi = grep -I
	grc = grep --count
	grl = grep --files-with-matches
	l = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'
	m = merge
	n = now --all --stat
	sd = svn dcommit --rmdir --interactive
	sf = svn fetch
	sr = svn rebase
	st = status --short --branch
	plom = pull origin master
	plum = pull upstream master
[core]
	excludesfile = ~/.gitignore.global
	fscache = true
	pager = less -r
	precomposeunicode = true
	preloadindex = true
	quotepath = false
	whitespace = trailing-space,space-before-tab
[pager]
	diff = diff-highlight | less
	log = diff-highlight | less
	show = diff-highlight | less
	status = true
[push]
	default = simple
[branch]
	autosetuprebase = always
[merge]
	ff = false
[pull]
	rebase = true
[fetch]
	prune = true
[credential]
[hub]
	protocol = https
[ghq]
	root = /Users/jiska/Workspace/ghq
