"*":
  core:
    audioBeep: false
    excludeVcsIgnoredPaths: false
    projectHome: "/Users/jiska/Workspace"
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "SourceHanCodeJP-Regular"
    fontSize: 15
    invisibles: {}
    lineHeight: 1.4
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "ac002398-0aa2-e767-9b2e-816d95874d9d"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
