"*":
  "atom-material-ui":
    colors:
      abaseColor: "#2196f3"
      genAccent: true
      paintCursor: true
      predefinedColor: "Blue"
    fonts:
      fontSize: 13
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    audioBeep: false
    disabledPackages: [
      "whitespace"
    ]
    excludeVcsIgnoredPaths: false
    projectHome: "/Users/jiska/Workspace"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "SourceHanCodeJP-Regular"
    fontSize: 15
    invisibles: {}
    lineHeight: 1.4
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "ac002398-0aa2-e767-9b2e-816d95874d9d"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
